<footer class="bg-dark bg-gradient text-dark mt-5 sticky-bottom">
  <div class="container">
    <div class="row text-secondary">
      <div class="col-md-6">
        <p>&copy; 2023 Nombre Apellido. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Inicio</a></li>
          <li class="list-inline-item"><a href="#">Servicios</a></li>
          <li class="list-inline-item"><a href="#">Portafolio</a></li>
          <li class="list-inline-item"><a href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
