<main class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 text-lg-12">
      <section>
        <article>
          <h1>Resumen</h1>
          <p >
            Desarrollador Fullstack altamente motivado y apasionado por la tecnología con más de 1 año de
      experiencia en el desarrollo de aplicaciones web con ASP.NET Core, Angular y VueJs. Me especializo en
      el desarrollo de aplicaciones FrontEnd y APIRest. He trabajado en proyectos para la consultora Incluit,
      específicamente en el proyecto de Portal Cotizadores de Sancor. Mi formación incluye el aprendizaje de
      tecnologías como .NET Core, Angular, SQL Server y MongoDB. Estoy siempre en busca de nuevos
      desafíos y oportunidades para aprender y mejorar mis habilidades técnicas.
          </p>
        </article>

        <article>
          <h2>Habilidades Técnicas</h2>
          <ul class="list-group">
            <li class="list-group-item">C#</li>
            <li class="list-group-item">ASP.NET Core</li>
            <li class="list-group-item">SQL Server</li>
            <li class="list-group-item">Git</li>
            <li class="list-group-item">Jira</li>
            <li class="list-group-item">Angular</li>
            <li class="list-group-item">TypeScript</li>
            <li class="list-group-item">VueJs</li>
            <li class="list-group-item">MongoDB</li>
            <li class="list-group-item">Linux</li>
          </ul>

        </article>

      </section>
    </div>

    <div class="col-md-5 mt-1">
      <section id="projects">
        <h2>Proyectos</h2>
        <div class="project">
          <img src="assets/images/proyecto1.jpg" alt="Proyecto 1">
          <h3>Proyecto 1</h3>
          <p>Descripción del proyecto 1.</p>
          <a href="/src/proyecto1.html">Ver proyecto</a>
        </div>
        <div class="project">
          <img src="assets/images/proyecto2.jpg" alt="Proyecto 2">
          <h3>Proyecto 2</h3>
          <p>Descripción del proyecto 2.</p>
          <a href="proyecto2.html">Ver proyecto</a>
        </div>
        <div class="project">
          <img src="assets/images/proyecto3.jpg" alt="Proyecto 3">
          <h3>Proyecto 3</h3>
          <p>Descripción del proyecto 3.</p>
          <a href="proyecto3.html">Ver proyecto</a>
        </div>
      </section>
    </div>
  </div>
</main>
