<h1>Resumen</h1>
<p >Desarrollador Fullstack altamente motivado y apasionado por la tecnología con más de 1 año de
experiencia en el desarrollo de aplicaciones web con ASP.NET Core, Angular y VueJs. Me especializo en
el desarrollo de aplicaciones FrontEnd y APIRest. He trabajado en proyectos para la consultora Incluit,
específicamente en el proyecto de Portal Cotizadores de Sancor. Mi formación incluye el aprendizaje de
tecnologías como .NET Core, Angular, SQL Server y MongoDB. Estoy siempre en busca de nuevos
desafíos y oportunidades para aprender y mejorar mis habilidades técnicas.
</p>

