// Colores primarios
$gruvbox-yellow: #FABD2F;
$gruvbox-orange: #af3a03;
$gruvbox-brown: #8f3f71;
$gruvbox-blue: #458588;
$gruvbox-purple: #b16286;
$gruvbox-green: #B5B826;
$gruvbox-red: #FB4934;
$gruvbox-aqua: #689d6a;
$gruvbox-orange: #d65d0e;

// $primary: $gruvbox-yellow;
// $secondary: $gruvbox-purple;
// $success: $gruvbox-green;
// $info: $gruvbox-blue;
// $warning: $gruvbox-orange;
// $danger: $gruvbox-red;
// $light: #fbf1c7;
// $dark: #282828;

$neon-yellow: #FFD300;
$neon-orange: #FF8700;
$neon-pink: #FF006E;
$neon-purple: #8F00FF;
$neon-blue: #00B0FF;
$neon-green: #00FF97;

$primary: $gruvbox-blue;
$secondary: $gruvbox-purple;
$success: $gruvbox-green;
$info: $gruvbox-blue;
$warning: $neon-yellow;
$danger: $gruvbox-red;
$light: #fbf1c7;
$dark: #282828;

// Grises
$gruvbox-gray-light: #ebdbb2;
$gruvbox-gray-medium: #a89984;
$gruvbox-gray-dark: #928374;


$gruvbox-gray-lightest: #fbf1c7;
$gruvbox-gray-lighter: #ebdbb2;
$gruvbox-gray-light: #d5c4a1;
$gruvbox-gray: #a89984;
$gruvbox-gray-dark: #7c6f64;
$gruvbox-gray-darker: #665c54;
$gruvbox-gray-darkest: #2a1f1e;

$gray-100: $gruvbox-gray-lightest;
$gray-200: $gruvbox-gray-lighter;
$gray-300: $gruvbox-gray-light;
$gray-400: $gruvbox-gray;
$gray-500: $gruvbox-gray-dark;
$gray-600: $gruvbox-gray-darker;
$gray-700: $gruvbox-gray-darkest;
$gray-800: $gruvbox-gray-dark;
$gray-900: $gruvbox-gray-darkest;




// $primary: #458588;
// $secondary: #7c6f64;
// $success: #98971a;
// $info: #0dcaf0;
// $warning: #d79921;
// $danger: #cc241d;
// $light: #bdae93;
// $dark: #282828;

// :root {
//   /*  dark colors */
//   --gruvbox-dark0: #282828;
//   --gruvbox-dark1: #3c3836;
//   --gruvbox-dark2: #504945;
//   --gruvbox-dark3: #665c54;
//   --gruvbox-dark4: #7c6f64;
//   --gruvbox-dark5: #928374;
//   --gruvbox-dark6: #a89984;
//   --gruvbox-dark7: #bdae93;
//   /* bright colors */
//   --gruvbox-bright0: #fbf1c7;
//   --gruvbox-bright1: #ebdbb2;
//   --gruvbox-bright2: #d5c4a1;
//   --gruvbox-bright3: #bdae93;
//   --gruvbox-bright4: #a89984;
//   --gruvbox-bright5: #928374;
//   --gruvbox-bright6: #7c6f64;
//   --gruvbox-bright7: #665c54;
//   /* other colors */
//   --gruvbox-neutral-red: #cc241d;
//   --gruvbox-neutral-green: #98971a;
//   --gruvbox-neutral-yellow: #d79921;
//   --gruvbox-neutral-blue: #458588;
//   --gruvbox-neutral-purple: #b16286;
//   --gruvbox-neutral-aqua: #689d6a;
// }


